@import "../index.css";

.filters {
  margin: 36px;
  text-align: right;
  color: gray;
}

.videos {
  margin: 4%;
}

@media only screen and (min-width: 768px) {
  .videos {
    margin: 64px;
  }
}

.videoGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.videoGrid p {
  margin: 0;
}

.title {
  font-weight: 600;
}

@media screen and (max-width: 320px) {
  .title {
    max-width: 300px;
    margin: 8px;
  }
}

.speakers {
  color: gray;
}

.pagination {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageLink {
  margin: 16px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  color: var(--dc6-hl-color);
}

.pageLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 550px) {
  .pageLink {
    font-size: 16px;
    margin: 12px;
  }
}

.pages {
  margin: 0px;
}

.iframeContainer {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 1em;
}

.iframeContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .iframeContainer {
    margin-right: 8px;
  }
}

@media screen and (max-width: 360px) {
  .iframeContainer {
    max-width: 300px;
  }
  .speakers,
  .title {
    max-width: 280px;
  }
  .pageLink {
    margin: 0;
  }
  .videoPage {
    max-width: 100%;
  }
}
