.filters {
  margin: 36px;
  text-align: right;
  color: gray;
}

.videos {
  margin: 64px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.title {
  font-weight: 600;
  max-width: 30ch;
}

.speakers {
  color: gray;
  max-width: 30ch;
}
