.archiveHero {
  height: 75vh;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 550px) {
  .archiveHero {
    flex-direction: row;
    height: 60vh;
  }
}
