.archiveHero {
  height: 30vh;
  background: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
}
