@import '../index.css';

.archive {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-snap-align: center;
  scroll-margin-top: 1em;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

/* Devcon 5 */
.archive:nth-child(1) {
  background: var(--dc5-bg-color);
}

/* Devcon 4 */
.archive:nth-child(2) {
  background: var(--dc4-bg-color);
}

/* Devcon 3 */
.archive:nth-child(3) {
  background: var(--dc3-bg-color);
}

/* Devcon 2 */
.archive:nth-child(4) {
  background: var(--dc2-bg-color);
}

/* Devcon 1 */
.archive:nth-child(5) {
  background: var(--dc1-bg-color);
}

/* Devcon 0 */
.archive:nth-child(6) {
  background: var(--dc0-bg-color);
}

.archiveCol {
  padding: 16px;
}

@media screen and (min-width: 1080px) {
  .archiveCol {
    min-width: 220px;
  }
}

.archiveText {
  max-width: 65ch;
  padding-top: 12px;
  font-weight: 200;
}

.archiveLink {
  color: black;
  text-decoration: none;
}

.archiveLink:hover {
  text-decoration: underline black;
}
