.button {
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(102deg, #2ea4d8 4%, #0461b5 87%);
  padding: 25px 53px 23px 53px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.dc0 {
  background-image: linear-gradient(to bottom, #fa739c, #fd3673);
}

.dc1 {
  background-image: linear-gradient(to bottom, #f5714a, #f54814);
}

.dc2 {
  background-image: linear-gradient(to bottom, #f2c241, #e8aa04);
}

.dc3 {
  background-image: linear-gradient(to bottom, #7ddd51, #50ba1f);
}

.dc4 {
  background-image: linear-gradient(to bottom, #38dec5, #0accae);
}

.dc5 {
  background-image: linear-gradient(to bottom, #4bc3d9, #38adc3);
}
