@import '../index.css';

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboutColumn {
  margin: 24px;
}

.aboutText {
  max-width: 60ch;
  color: gray;
}

.dc0Highlight {
  color: var(--dc0-hl-color);
}

.dc1Highlight {
  color: var(--dc1-hl-color);
}

.dc2Highlight {
  color: var(--dc2-hl-color);
}

.dc3Highlight {
  color: var(--dc3-hl-color);
}

.dc4Highlight {
  color: var(--dc4-hl-color);
}

.dc5Highlight {
  color: var(--dc5-hl-color);
}

.detailsImage {
  min-width: 300px;
  max-width: 400px;
}
