@import '../index.css';

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1350px) {
  .about {
    margin: 60px 0 60px 0;
  }
}

.aboutColumn {
  margin: 24px;
}

.aboutText {
  max-width: 60ch;
  color: #26293b;
  line-height: 1.6;
}

.dc0Highlight {
  color: var(--dc0-hl-color);
}

.dc1Highlight {
  color: var(--dc1-hl-color);
}

.dc2Highlight {
  color: var(--dc2-hl-color);
}

.dc3Highlight {
  color: var(--dc3-hl-color);
}

.dc4Highlight {
  color: var(--dc4-hl-color);
}

.dc5Highlight {
  color: var(--dc5-hl-color);
}

.detailsImage {
  min-width: 300px;
}

@media screen and (min-width: 600px) {
  .detailsImage {
    min-width: 540px;
  }
}
