/* TODO Breakpoint needed for mobile text alignment */
.devcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: gray;
  margin-bottom: 12px;
}
