@import "../index.css";

.featuredVideo {
  background: #faf7ef;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: var(--dc0-hl-color);
}

.video {
  margin: 16px;
}

.videoGrid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 4%;
}

.videoGrid p {
  margin: 0;
}

.header {
  align-self: center;  
}

.title {
  font-weight: 600;
}

.speakers {
  color: gray;
}

.videoLinks {
  text-decoration: None;
  color: var(--dc5-hl-color);
  font-weight: 600;
}

.iframeContainer {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 1em;
}

@media screen and (max-width: 550px) {
  .iframeContainer {
    margin-right: 8px;
  }
}

@media screen and (max-width: 320px) {
  .iframeContainer {
    max-width: 300px;
  }
}
 
.iframeContainer iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.videoLinksContainer {
  align-self: center;
}
