.featuredSupporters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featuredLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 16px;
}
