@import '../index.css';

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--dc2-bg-color);
  color: var(--dc2-hl-color);
  font-size: .8rem;
}

.copyright {
  padding-left: 24px;
}

.link {
  margin-left: auto;
  padding-right: 24px;
}

.footer-link {
  color: var(--dc2-hl-color);
}
