@import '../index.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  margin-left: auto;
  background: rgba(0, 0, 0, 0); 
  z-index: 2;
  width: 96%;
}

.headerItem {
  margin-right: 32px;
}

.headerLink {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.colorWhite {
  color: white;
}
