@import '../index.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0); 
  z-index: 2;
  width: 90%;
}

.headerLink {
  color: #26293B;
  text-decoration: none;
  font-weight: 600;
  font-size: .9rem;
  cursor: pointer;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  font-size: .9rem;
  font-weight: 600;
}

.efLogo {
  float: left;
  width: 40px;
  padding: 8px;
}

@media screen and (min-width: 411px) {
  .headerLink {
    font-size: 1.1rem;
  }
  .logoContainer {
    font-size: 1.1rem;
  }
}

.colorWhite {
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
}
