@import '../index.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  margin-left: auto;
  background: rgba(253, 206, 221, 0.85); 
  z-index: 2;
}

.headerLink {
  padding-left: 20px;
  color: white;
  text-decoration: none;
}
