@import "../index.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.hero {
  display: flex;
}

.title { 
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 144px;
  line-height: 80%;
  display: flex;
  color: #30354B;
  margin-left: 136px;
}

@media (max-width: 1024px) {
  .title {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 96px;
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 72px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 60px;
  }
}