@import "../index.css";

.logoDivider {
  margin-top: 60px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 24px;
  margin-bottom: 8px;
}

.announcement {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .announcement {
    font-size: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 96vh;
  }
}

.heroText {
  max-width: 40ch;
  font-weight: normal;
  text-align: center;
  color: #26293b;
  font-size: 16px;
  margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
  .buttonContainer {
    margin-bottom: 8px;
  }
}
