@import "../index.css";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 8px;
  margin-bottom: 8px;
}

.announcement {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.heroText {
  max-width: 40ch;
  font-weight: normal;
  text-align: center;
  color: #26293b;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 55vh;
  }

  .announcement {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1080px) {
  .hero {
    height: 75vh;
  }

  .announcement {
    font-size: 2rem;
  }
}
