@import '../index.css';

nav {
  background: var(--dc0-bg-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 8px;
  padding-top: 16px;
  margin-top: -8px; /* Negative margin included here to remove white space from the top that is created while supporting underline bar trick */
}

.navitem {
  padding: 8px;
  margin-left: 24px;
}

.navlink {
  text-decoration: none;
  font-weight: 400;
}

.navitem:hover > .navlink {
  font-weight: 600;
}

.navitem:hover {
  border-bottom: 8px solid white;
  margin-bottom: -8px; /* Negative margins allow us to create the effect of an underline bar at the bottom of the navbar */
}


/* Devcon 5 */
.dc5Background { background: var(--dc5-bg-color); }
.dc5Highlight a  { color: black;      }

/* Devcon 4 */
.dc4Background { background: var(--dc4-bg-color); }
.dc4Highlight a  { color: black;      }

/* Devcon 3 */
.dc3Background { background: var(--dc3-bg-color); }
.dc3Highlight a  { color: black;      }

/* Devcon 2 */
.dc2Background { background: var(--dc2-bg-color); }
.dc2Highlight a  { color: black;      }

/* Devcon 1 */
.dc1Background { background: var(--dc1-bg-color); }
.dc1Highlight a  { color: black;      }

/* Devcon 0 */
.dc0Background { background: var(--dc0-bg-color); }
.dc0Highlight a  { color: black;      }
