/*
 * This is for global CSS values only.
 * All class selected elements should be defined by CSS modules
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.2;
}

/* Breakpoints values
--mobile (width: 400px);
--small (width: 550px);
--medium (width: 768px);
--large (width: 1024px);
--small-height (height: 450px); */

:root {
  /* TODO update DC6 values when you get the correct values */
  --dc6-bg-color: #76BAFF;
  --dc6-hl-color: #00389B;
  --dc5-bg-color: #85E3F4;
  --dc5-hl-color: #38ADC3;
  --dc4-bg-color: #B3F5EB;
  --dc4-hl-color: #0ACCAE;
  --dc3-bg-color: #D6FAC5;
  --dc3-hl-color: #50BA1F;
  --dc2-bg-color: #FCEDC5;
  --dc2-hl-color: #E8AA04;
  --dc1-bg-color: #F7C1B1;
  --dc1-hl-color: #F54814;
  --dc0-bg-color: #FDCEDD;
  --dc0-hl-color: #FD3673;
}

